<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="classifier.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light style">
        <div class="container-xxl">
            <a href="intro" class="navbar-brand">
                <img src="/assets/CAWIL.svg" alt="" width="150" height="50">
            </a>
       
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target ="#main-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end align center" id="main-nav">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Classifier</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Analytics</a>
                </li>
              </ul>

            <!-- header -->
            <section>
            <div class="postion-relative">
              <h2 class="position-absolute top-100 start-50 translate-middle-x text-primary">COVID RESPONSE: <span style="color:#FFBF00;">FACE SHIELD CLASSIFIER </span>  </h2>
            </div>
              <h1 class="image-preview">Image Preview</h1>
            </section>
        </div>  

        <!-- Rectangle -->
          <section>
            <div class="box"></div>
            <div class="blue-box"></div>
            <div class="white-box">
                <h3 class="result"></h3>
            </div>
            <button type="button" class="btn btn-primary">UPLOAD</button>
            <button type="button" class="btn btn-warning">DETECT</button>
          </section>
</body>
<footer>
  <div class="block"></div>
</footer>
</html>