<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?q=1280549780">
</head>
<body>
     
    <!-- logo -->
    <header id="toplogo">
		<div class="container-cawil">
			<image src="{{url_for('static',filename = 'images/cawil.svg')}}" ></image>
		</div>
	</header>

    <!-- section-left -->
        <section>
            <div class="container">

                <h2 class="welcome">Welcome to Cawil.ai</h2>
                <h1 class="fs-1">Face Shield Image Classification</h1>
            
            <div class="pic">
                <image src="{{url_for('static',filename = 'images/GR6.svg')}}" ></image>
            </div>
            
            <div class=>
                <a href="classifier">
              
              
                    <button type="button" class="btn btn-primary"><h4>TRY NOW!</h4></button>
                  
                </a>
              </div>		
        </section>

</body>
</html>